extends ../layout
  
block content
  h1 Index
  ul
    each post in posts
      li 
        p: a(href="/posts/" + post.id) #{post.title}
        P
          a(href="/posts/edit/" + post.id) edit
          form(method="post" action="/posts/" + post.id + "?_method=delete")
            input(type="hidden" value=post.id)
            input(type="submit" value="delete")

  a(href="/posts/new") Add new 
